.call-container {
  display: flex;
  height: 91vh;
}

.left {
  width: 75%;
  height: 100%;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 0.75fr));
  padding: 20px;
  overflow: hidden;
}
.grid-resize {
  border: 1px solid green;
}

.grid-resize-2 {
  border: 1px solid red;
}

.right {
  width: 25%;
  background-color: #6272a4;
  border-radius: 10px 0 0 0;
  padding: 10px;
  height: 91vh;
}
